<section class="row" data-ng-controller="SettingsController">
	<div class="container-fluid">
		<div class="row">
			<div id="changePassword" class="col-sm-12 full">
				<div class="row">
					<div class="login-box">
						<div class="header">Change Password</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
						<div data-ng-show="success" class="text-center text-success">
							<strong>Password Changed Successfully</strong>
						</div>
						<form data-ng-submit="changeUserPassword()" class="form-horizontal login" autocomplete="off">
							<fieldset class="col-sm-12">
								<div class="form-group">
								  	<div class="controls row">
										<div class="input-group col-sm-12">	
											<label for="currentPassword">Current Password</label>
											<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
										</div>	
								  	</div>
								</div>
								<div class="form-group">
								  	<div class="controls row">
										<div class="input-group col-sm-12">	
											<label for="newPassword">New Password</label>
											<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
										</div>
									</div>
								</div>
								<div class="form-group">
								  	<div class="controls row">
										<div class="input-group col-sm-12">	
											<label for="verifyPassword">Verify Password</label>
											<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
										</div>
									</div>
								</div>
								<div class="row">
									<button type="submit" class="btn btn-large btn-primary btn-block">Change Password</button>
								</div>
							</fieldset>
						</form>
						<div class="clearfix"></div>
					</div>
				</div><!--/row-->
			</div>
		</div><!--/row-->
	</div><!--/container-->
</section>